#headerImg {
    
    text-align: center;
}
#image {
    max-width: 100%;
    margin-top: 0;
}
body {
    margin: 0 auto;

    background-color: beige;
}
 @font-face {
    font-family: 'Dancing Script', cursive;
    src: url("");
 }
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url("");
} 
main {
    max-width: 60em;
    margin: 0 auto;
    /*! position: relative; */
    /*! top: 44rem; */
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: #ff0000d1;
    margin-top: 10rem;
}
#couplesName {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    top: -28rem;
    color: red;
    background-color: #ffffffc4;
    border-radius: 1rem;
    left: 33rem;
    padding: 0.1rem 05rem;
    width: 15rem;
}
#wed_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 85%;
    justify-content: flex-end;
}
h2 {
    font-size: 2rem;
}
.HWD {
    padding-left: 4rem;
}
.HWD2 {
     text-decoration-style: -moz-none;
     color: black;
}
#cName {
    font-size: large;
    color: white;
    margin: 0;
    position: relative;
    bottom: 2rem;
    color: black;
    font-size: ;
}
#yes {
    font-size: xxx-large;
    text-align: center;
    width: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
}
#word {
    width: 49rem;
    margin: 0 auto;
    font-size: 31px;
    text-align: center;
    font-family: dancing script;
}
#words_from_the_groom {

    display: flex;
    max-width: 80rem;
    margin: 0 auto;
}
#word1 {
    font-family: 'Dancing Script', cursive;
    width: 49rem;
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
}
#word2 {
    font-family: 'Dancing Script', cursive;
    width: 49rem;
    font-size: 28px;
    padding-right: 4rem;
    margin-top: 6rem;
    text-align: center;
    padding-top: 110px;
}
blockquote {
    font-family: 'Dancing Script', cursive;
    font-size: 2.1rem;
    padding: 0 4rem;
}
#words_from_the_bride {
    
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
}
#getting_married {
    font-family: 'Squada One', sans-serif;
    font-size: 22px;
    max-width: 49rem;
    /*! position: relative; */
    /*! left: 10rem; */
    margin: 0 auto;
    text-align: center;
}
#couples_party {    
    display: flex;
    margin: 0 auto;
    max-width: 80rem;
    justify-content: space-around;
}
.trail {
    font-size: 26px;
    text-align: center;
}
#hashtag {
    text-align: center;
    background: red;
    padding-bottom: 0.1rem;
    padding-top: 1rem;
}
#contact {
    text-align: center;
    width: 54rem;
    margin: 0 auto;
}
h3 {
    font-size: 68px;
    margin-top: 182px;
    margin-bottom: 40px;
}
#thanks {
    font-size: 20px;
    margin-top: 0;
}
#contact_list {
    
    border: 6px solid #B2B2B2;
    height: 21rem;
    border-radius: 60px;
}
select {
    color: #999;
}
.form_width {
    
    width: 79%;
    margin: 1rem;
    height: 2rem;
}
#btn {
    
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: bold;
}
#btna {

    width: 31rem;
    height: 115px;
    background: red;
    border-color: red;
}
#inp {
    
    color: black;
}
#gives {
    
    border: 5px solid #a63737;
    text-align: center;
    width: 30%;
    height: 23rem;
    border-radius: 52px;
    margin: 0 auto;
    margin-top: 1rem;
    display: none;
}
.gifts {
    height: 16vh;
    margin: 14%;
}
#gift_head {
       font-size: 1.5rem;
}
#words_from_the_groom_and_bride {
    margin-top: 0;
}
.imgStory{
    text-align: center;
}
#button{
    text-align: center;
    margin: 40px;
}
footer{
    background: #eadddd;
    padding: 5px 5px 5px 15px;
    margin-top: 30px;
    text-align: center;
}
#invite {
    
    border: 15px solid red;
    margin: 5rem;
}
@media (max-width:360px) {
    .HWD2 {
        font-size: 11px;
    }
    .HWD {
        padding-left: 10px; 
    }
    #image { 
    margin-top: 0;
    height: 50vh;
    }
    #couplesName {
        
    font-size: 2rem;
    top: -30rem;
    }
    #cName {
        
    top: 14rem;
    color: black;
    }
    #headerImg {
        
    height: 30rem;
    }
    h1 {
        
    font-size: 2rem;
    }
    #word {
        
    width: 18rem;
    }
    #words_from_the_groom {
        
    flex-direction: column;
    }
    #word1 {
        
    width: 23rem;
    padding-top: 0;
    }
    #words_from_the_bride {
        
    flex-direction: column-reverse;
    }
    #word2 {
        
    margin-top: 0;
    padding: 0;
    width: 20rem;
    margin-left: 1.5rem;
    }
    #yes {
        font-size: 1.5rem;
        width: 84%;
        display: block;
    }
    h3 {
        
    font-size: 2rem;
    }
    #thanks {
        font-size: 1rem
    }
    #contact {
        width: 90%;
    }
    #contact_list {
        
    border-radius: 2rem;
    }
    #gives {
        
    width: 87%;
    height: 23rem;
    }
    #btna{
        width: 18rem;
    }
    #wed_list {
        
    display: inline-block;
    }
    #image {
        height: 50vh;
    }
    #words_from_the_groom_and_bride {
        margin-top: 0; 
    }
}
